<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card</title>
    <link rel="stylesheet" href="css/card.css">
</head>
<body>
<form>
    <div class="form-container">
        <div class="personal-information">
            <h1>Payment Information</h1>
        </div>
        <input id="column-left" type="text" name="first-name" placeholder="First Name"/>
        <input id="column-right" type="text" name="last-name" placeholder="Surname"/>
        <input id="input-field" type="text" name="number" placeholder="Card Number"/>
        <input id="column-left" type="text" name="expiry" placeholder="MM / YY"/>

        <div class="card-wrapper"></div>

        <input id="input-button" type="submit" value="Submit"/>

    </div>
</form>
</body>
</html>